.draft-deck-title {
    text-align: center;
    background: linear-gradient(#fbda60, #c69038);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.draft-deck {
    background-image: url(../images/LeftPanel.png); /*this repeats the top bit for some reason*/
    background-repeat: no-repeat;
    background-size: 300px 100vh;
}