.card-picks {
 margin: auto;
 text-align: center;
}

.card-picks-header {
 text-align: center;
}

.card-picks-score {
 position: relative;
}

.card-picks-score-image {
 width: 100px;
}

.card-picks-score-number {
 position: absolute;
 color: #f0cc70;
 left: 43px;
 top: -5px;
 font-size: 2rem;
}