.deck-list-card {
    position: relative;
    width: 200px;
    margin: auto
}

.deck-list-card-image {
    width: 200px;
}

.deck-list-card-cost {
    position: absolute;
    color: #cfd9e7;
    top: 5px;
}

.deck-list-card-name {
    position: absolute;
    color: #ededed;
    left: 36px;
    top: 5px;
}

.deck-list-card-number {
    position: absolute;
    color: #00d1ff;
    left: 183px;
    top: 5px;
}