html {
  background-image: url(images/BG_paper_light.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 5rem auto;
  grid-template-areas:
          "header header"
          "sidebar main";
}

.draft-header {
  grid-area: header;
  display: inline-flex;

}

.draft-deck {
  grid-area: sidebar;

}

.deck-picks {
  grid-area: main;
}